.lmj-plant-content {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	width: 60%;
	position: relative;
}

.lmj-shopping-list {
	width: 100%;
}

.lmj-plant-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	list-style-type: none;
	row-gap: 20px;
	position: relative;
	left: 10%;
	margin-bottom: 50px;
}

.lmj-button-add-to-cart {
	margin-left: 20px;
}

/*.lmj-sales {
	position: absolute;
	right: 0px;
	top: 10px;
	font-weight: 500;
	color: white;
	padding: 5px 10px;
	background-color: #31b572;
}*/

